<!--
Este bloque de código consta de dos tarjetas (cards) relacionadas con la gestión del perfil de usuario.

Tarjeta 1 - Editar Perfil:
- Encabezado de la tarjeta:
  - Se muestra un título "Editar Perfil" con un ícono específico para esta acción.
- Formulario:
  - El formulario está definido con la directiva #f="ngForm".
  - Contiene varios campos para editar información personal:
    - Campo "Cédula" con validación de entrada.
    - Campo "Nombre" con validación de entrada.
    - Campo "Teléfono" con validación de entrada.
    - Campo "Foto" para cargar una imagen de perfil, con un botón para subir la foto.
    - Campo "Ciudad" con un menú desplegable para seleccionar la ciudad.
    - Campo "Fecha de Nacimiento" con un selector de fecha.
    - Campo "Alergias" con validación de entrada.
    - Campo "EPS" con un menú desplegable para seleccionar la EPS.
    - Campo "Tipo de sangre" con un menú desplegable para seleccionar el tipo de sangre.
    - Campo "Correo electrónico" con validación de entrada.
  - Botón "Editar Perfil" que, al hacer clic, ejecuta el método 'editarPerfil()' para procesar los cambios en el perfil.
  - Componente 'app-alerta' para mostrar alertas relacionadas con la operación de edición del perfil.

Tarjeta 2 - Eliminar Cuenta:
- Encabezado de la tarjeta:
  - Se muestra un título "Eliminar Cuenta" con un ícono específico para esta acción.
- Contenido:
  - Contiene un botón "Eliminar Cuenta" que, al hacer clic, ejecuta el método 'eliminarCuenta()' para proceder con la eliminación de la cuenta.

Ambas tarjetas están diseñadas para ofrecer al usuario las opciones de editar su perfil y eliminar su cuenta de manera clara y accesible.

-->


<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Editar Perfil</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Cédula: </label>
                <div class="col-sm-10">
                    <input #cedula="ngModel"
                        [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) ? 'is-invalid' : ''" type="text"
                        name="cedula" class="form-control" required [(ngModel)]="detallePacienteDTO.cedula" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-10">
                    <input #nombre="ngModel"
                        [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''" type="text"
                        name="nombre" class="form-control" required [(ngModel)]="detallePacienteDTO.nombre" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Teléfono: </label>
                <div class="col-sm-10">
                    <input #telefono="ngModel"
                        [ngClass]="telefono.invalid && (telefono.dirty || telefono.touched) ? 'is-invalid' : ''"
                        type="text" name="telefono" class="form-control" required
                        [(ngModel)]="detallePacienteDTO.telefono" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Foto: </label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" name="foto" (change)="onFileChange($event)" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" [disabled]="archivos == null" class="btn btn-primary" (click)="subirImagen()">
                        <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
                    </button>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Ciudad: </label>
                <div class="col-sm-10">
                    <select name="ciudad" required class="form-select" [(ngModel)]="detallePacienteDTO.ciudad">
                        <option value="" selected>Seleccione una ciudad</option>
                        <option [value]="item" *ngFor="let item of ciudades; index as i">{{item}}</option>
                    </select>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Fecha de Nacimiento: </label>
                <div class="col-sm-10">
                    <input type="date" name="fechaCita" [(ngModel)]="detallePacienteDTO.fechaNacimiento"
                        class="form-control" [max]="getMaxDate()" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Alergias: </label>
                <div class="col-sm-10">
                    <input #alergias="ngModel"
                        [ngClass]="alergias.invalid && (alergias.dirty || alergias.touched) ? 'is-invalid' : ''"
                        type="text" name="alergias" class="form-control" required
                        [(ngModel)]="detallePacienteDTO.alergias" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">EPS: </label>
                <div class="col-sm-10">
                    <select name="eps" required class="form-select" [(ngModel)]="detallePacienteDTO.eps">
                        <option value="" selected>Seleccione una EPS</option>
                        <option [value]="item" *ngFor="let item of eps; index as i">{{item}}</option>
                    </select>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Tipo de sangre: </label>
                <div class="col-sm-10">
                    <select name="tipoSangre" required class="form-select" [(ngModel)]="detallePacienteDTO.tipoSangre">
                        <option value="" selected>Seleccione su tipo de sangre</option>
                        <option [value]="item" *ngFor="let item of tipoSangre; index as i">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Correo electrónico: </label>
                <div class="col-sm-10">
                    <input #correo="ngModel"
                        [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="text"
                        name="correo" class="form-control" required [(ngModel)]="detallePacienteDTO.correo" />
                </div>
            </div>

            <button class="btn btn-primary" type="submit" (click)="editarPerfil()">Editar Perfil</button>
            <app-alerta [alerta]="alerta"></app-alerta>


        </form>
    </div>
</div>

<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Eliminar Cuenta</h5>
    </div>

    <div class="card-body p-5">

        <div id="contenedor">
            <button type="submit" class="btn btn-danger" (click)="eliminarCuenta()">
                Eliminar Cuenta
            </button>
        </div>
    </div>


</div>