<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-file-circle-plus me-2"></i>Agendar Cita</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Especialidad del Medico: </label>
                <div class="col-sm-10">
                    <select name="tipo" required class="form-select" [(ngModel)]="registroCitaDTO.tipo"
                        (change)="listarMedicos($event)">
                        <option value="" selected>Seleccione una Especialidad</option>
                        <option [value]="item" *ngFor="let item of especialidades; index as i">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Elija un medico: </label>
                <div class="col-sm-10">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>Nombre del Medico</th>
                                <th>Correo del Medico</th>
                                <th>Horarios Medico</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr *ngFor="let item of medicoPorEspecialidad">
                                <td><input class="form-check-input" type="checkbox"
                                        (change)="seleccionar(item.codigoMedico)" /></td>
                                <td>
                                    <p>{{item.codigoMedico}}</p>
                                </td>
                                <td>
                                    <p>{{item.nombreMedico}}</p>
                                </td>
                                <td>
                                    <p>{{item.correoMedico}}</p>
                                </td>
                                <!-- ... -->
                                <td>
                                    <p *ngFor="let horario of item.horarios">
                                        {{ horario.dia }} - {{ horario.horaInicio }} a {{ horario.horaFin }}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Motivo: </label>
                <div class="col-sm-10">
                    <textarea [(ngModel)]="registroCitaDTO.motivo" type="text" name="motivo" required
                        class="form-control"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Fecha: </label>
                <div class="col-sm-10">
                    <input type="date" name="fechaCita" [(ngModel)]="registroCitaDTO.fechaCita" class="form-control"
                        [min]="getMinDate()" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Hora: </label>
                <div class="col-sm-10">
                    <select name="tipo" required class="form-select" [(ngModel)]="registroCitaDTO.horaCita">
                        <option value="" selected>Seleccione una Hora</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>
            </div>


            <hr>

            <button class="btn btn-primary" type="submit" [disabled]="f.invalid" (click)="agendarCita()">
                <i class="fa-solid fa-circle-plus me-1"></i>Agendar Cita
            </button>

            <app-alerta [alerta]="alerta"></app-alerta>

        </form>
    </div>
</div>
