<!--
Este bloque de código representa una tarjeta (card) que muestra los detalles de un paciente en un sistema médico.

Tarjeta - Detalles del Paciente:
- Encabezado de la tarjeta:
  - Se muestra un título "Detalles del Paciente" con un ícono específico para esta sección.
- Cuerpo de la tarjeta:
  - Contiene un contenedor principal ('contenedor') que agrupa dos secciones ('caja1' y 'caja2').
  - En 'caja1':
    - Se muestra el código del paciente utilizando la interpolación de Angular.
    - Se muestra la cédula del paciente utilizando la interpolación de Angular.
    - Se muestra el nombre del paciente utilizando la interpolación de Angular.
    - Se muestra el teléfono del paciente utilizando la interpolación de Angular.
    - Se muestra el correo electrónico del paciente utilizando la interpolación de Angular.
  - En 'caja2':
    - Se muestra la fecha de nacimiento del paciente utilizando la interpolación de Angular.
    - Se muestra las alergias del paciente utilizando la interpolación de Angular.
    - Se muestra la EPS (Entidad Promotora de Salud) del paciente utilizando la interpolación de Angular.
    - Se muestra el tipo de sangre del paciente utilizando la interpolación de Angular.

Este diseño permite visualizar de manera organizada y estructurada la información clave de un paciente, facilitando su consulta y gestión dentro del sistema médico.

-->


<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Detalles del Paciente</h5>
    </div>

    <div class="card-body p-5">
        
        <div id="contenedor">

            <div id="caja1">

                <h4>Codigo del Paciente</h4> <p id="">{{detallePacienteDTO?.codigo}}</p>

                <h4>Cedula del Paciente:</h4> <p>{{detallePacienteDTO?.cedula}}</p>

                <h4>Nombre</h4> <p>{{detallePacienteDTO?.nombre}}</p>

                <h4>Telefono</h4> <p>{{detallePacienteDTO?.telefono}}</p>

                <h4>Correo</h4> <p>{{detallePacienteDTO?.correo}}</p>
    
                
            </div>

            <div id="caja2">

                <h4>Fecha de Nacimiento</h4> <p>{{detallePacienteDTO?.fechaNacimiento}}</p>

                <h4>Alergias</h4> <p>{{detallePacienteDTO?.alergias}}</p>

                <h4>EPS</h4> <p>{{detallePacienteDTO?.eps}}</p>

                <h4>Tipo Sangre</h4> <p>{{detallePacienteDTO?.tipoSangre}}</p>

            </div>

        </div>


    </div>
</div>