p {
    font-size: 17px;
}

#estadoPQRS {
    color: aliceblue;
 
    background-color: rgb(44, 139, 4);
    padding: 10px;
    border-radius: 10px;
    max-width: 80px; /* Puedes ajustar este valor según tus necesidades */
  

}

#contenedor{
    display: flex;
}

#caja1{
    margin-right: 150px;
}


.card{
    margin-bottom: 40px;
}


textarea{
    height: 400px;
}